{% extends 'base.html' %}
{% block container %}
<br><br>
    <div class="container" style="padding-top:50px;padding-bottom:250px;padding-left:50px;padding-right:50px;">
        <h1 align="center">{{request.session.name}}</h1><br><br>
                  <center>
        <div>

                <form method="post" novalidate>
                {% csrf_token %}
                {{name}}
                <input type="submit" value="Add">
            </form>

        </div>
                      <br><br>
         <div >
             <table class="table" style="text-align:center;">
                 <tr class="table-dark" >
                     <th>S.No</th>
                     <th>Question</th>
                     <th>Type</th>
                     <th>Options</th>
                 </tr>
                  {% for i in data %}
                 <tr class="table-light">
                     <td>{{i.s_no}}</td>
                     <td> {{i.question}}</td>
                     <td>{{i.type}}</td>
                     <td>{{i.options}}</td>
                 </tr>
                 {% endfor %}
             </table>
             <a href="testformmaker">Submit</a>
        </div>
</center>
  </div>

{% endblock %}