{% extends 'base.html' %}
{% load static %}
{% block container %}
<div  style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);height:100px">

    <br>
    <h1 align="center">{{request.session.name}}</h1>
</div><br><br>
    <div class="container">

                  <center>
        <div>

                <form method="post" novalidate>
                {% csrf_token %}
                {{name}}
                <input type="submit" value="+ Add" class="btn btn-success">
            </form>

        </div>
                      <br><br>
         <div >
             <table class="table" style="text-align:center;">
                 <tr class="table-dark" >
                     <th>S.No</th>
                     <th>Question</th>
                     <th>Type</th>
                     <th>Options</th>
                     <th></th>
                 </tr>
                  {% for i in data %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td> {{i.question}}</td>
                     <td>{{i.type}}</td>
                     <td>{{i.options}}</td>
                     <td>
<!--                         <form action="" method="post">-->
<!--                             {% csrf_token %}-->
<!--                             <input type="submit" value="Edit" class="btn btn-warning">-->
<!--                         </form>-->
                         <form action="{% url 'del_fields' i.id %}" method="post">
                             {% csrf_token %}
                             <input type="submit" value="Delete" class="btn btn-danger">
                         </form>
                     </td>
                 </tr>
                 {% endfor %}
             </table>
             <a href="home" class="btn btn-warning">back</a>
             <a href="clear_tempdata" class="btn btn-danger">Clear Data</a>
             <a href="testformmaker" class="btn btn-success">next</a>

        </div>
        </center>
    </div>
{% endblock %}