{% extends 'base.html' %}
{%load static %}
{% block container %}
    <div class="container">
        <br><br><br><br><br><br><br>
        <form method="post">
            {% csrf_token %}
            <h4><b>Form Title:</b></h4>
            {{form.title}}
            <p>If already exists <a href="/formpreview  ">click here</a> </p>
            <br>
            <center>
                <input type="submit" value="create" class="btn btn-success">
            </center>
        </form>
        <div align="right">
            <img src="{% static 'image/Title.svg'%}" width="400px">
        </div>
    </div>
{% endblock %}