{% extends 'base.html' %}
{% block container %}
    <div class="container" style="padding-top:50px;padding-bottom:250px;padding-left:50px;padding-right:50px;">
         <form method="post" action="/emailtokenview">
                    {% csrf_token %}

             <div class="input-group mb-3">
          {{email_form}}
            <div class="input-group-append">
            <input type="submit" value="add" class="btn btn-secondary">
          </div>
        </div>

        </form>
        {% if data %}
        <table class="table">
            <tr style="text-align: center;" >
                <th>Email ID</th>
            </tr>
            {% for i in data %}
            <tr style="text-align: center;">
                <td>{{i.email_id}}</td>
            </tr>
            {% endfor %}
        </table>
        <form action="showmail" method="post">
              {% csrf_token %}
        <center>
            <input type="submit" value="send" class="btn btn-success">
        </center>
        </form>
        {% endif %}
    </div>
{% endblock %}