{% extends 'base.html' %}
{% block container %}
<div  style="background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);height:100px">
    <br>
    <h1 align="center">{{request.session.name}}</h1>
</div><br><br>
<div class="container">
<form method="post" action="/formtokenview">
        {% csrf_token %}
    {{test|safe}}
    <center>
        <a href="formmaker" class="btn btn-warning">back</a>
        <input type="submit" value="submit" class="btn btn-success">
        <a href="cancel" class="btn btn-danger">cancel</a>
    </center>
</form>
</div>
{% endblock %}